a.blue-button {
	padding: 1em 2em;
	border-radius: 5px;
	background: $cyan;
	color: $darkest-blue-green;
	box-shadow: 0 10px 0 $dark-cyan;
	transition: $transition-a-3;
	text-transform: uppercase;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	
	i {
		font-size: 1.2rem;
	}
	
	&.not-active {
		background: $gray;
		box-shadow: 0 10px 0 $dark-gray;
	}
	
	&:active {
		box-shadow: none;
		transform: translateY(10px);
	}
}