$white: hsla(198, 48%, 90%, 1);
$black: hsla(0, 0%, 0%, 1);

$darkest-blue-green: hsla(197, 57%, 14%, 1);
$dark-blue-green: hsla(197, 61%, 16%, 1);

$orange: #E5B842;
$dark-orange: #d1ab44;

$cyan: #58E0E9;
$dark-cyan: #34b1ba;

$gray: #C1C1C1;
$dark-gray: #929292;

$transition-a-3: all .3s ease;
$transition-a-5: all .5s ease;
$transition-a-10: all .10s ease;
$transition-a-15: all .15s ease;
$transition-a-20: all .20s ease;